<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "peolpeXml" class="zhou4_work2.People">
        <constructor-arg name="name" value="shasha" />
        <constructor-arg name="sex" value="male" />

    </bean>


</beans>